html {
  font-family : sans-serif;
  color: #07083a;
}

body {
text-align: center;
}

h1{
color: #7a1a0c;
}

.general {
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  background-color : white;
}

.results{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 100px;
  font-size: 30px;;
}
.results th{
padding-right: x-large;
}
.results td{
  color:#7a1a0c;
  padding-right: xx-large;

}
